version: "3.9"

services:
  api:
    build: .
    restart: always
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    
    networks:
      - appnet

  db:
    image: postgres:16
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1512
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

    networks:
      - appnet

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db

    networks:
      - appnet


  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

    networks:
      - appnet


  celery:
    build: .
    restart: always
    env_file: .env
    depends_on:
      - api
      - redis
    command: celery -A src.celery_app.celery_app worker --loglevel=info
    volumes:
      - .:/app

    networks:
      - appnet

  celery_beat:
    build: .
    command: celery -A src.celery_app.beat_app beat --loglevel=info
    env_file: .env
    depends_on:
      - api
      - redis
    volumes:
      - .:/app

    networks:
      - appnet

volumes:
  postgres_data:

networks:
  appnet:
    external: true